.clear {clear:both}
.first {margin-top:50px;}
body {
	background:#EFEFEF;
}
.orange {color:#F60;font-family:Lobster;}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
	background:url(../img/youfood.png) no-repeat -110px 180px;
	padding-top: 0px;
	margin-bottom: 72px;
	height:750px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 10px;
  margin-top:20px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.steps h2 {line-height:30px;margin-bottom:10px;}
.steps p {font-size:14px;text-align:left;line-height:20px;margin-left:1%;}

.container.full {width:100%;}
.container.dark {
	background:#333;
	color:white;
}
