<h4>Ajouter un produit</h4>
<form class="form-horizontal">
<fieldset>
  <div class="control-group">
    <input type="hidden" class="input-xlarge" id="addProduitId" value="" />
    <label class="control-label" for="addProduitNom">Nom</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitNom" value="<%= nom %>" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitDesc">Description</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitDesc" value="<%= desc %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitPhoto">Photo</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitPhoto" value="<%= photo %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitPrix">Prix</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitPrix" value="<%= prix %>">
    </div>
  </div>
  <div class="form-actions">
    <button type="button" class="btn btn-primary" id="addProduitSubmit">Save changes</button>
    <button class="btn" id="cancelProduit">Cancel</button>
  </div>
</fieldset>
</form>