<h4>Ajouter un produit</h4>
<form class="form-horizontal">
<fieldset>
  <div class="control-group">
    <input type="hidden" class="input-xlarge" id="addProduitId" value="<%= _id %>" />
    <label class="control-label" for="addProduitNom">Nom</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitNom" value="<%= name %>" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitDesc">Description</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitDesc" value="<%= desc %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitPhoto">Photo</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitPhoto" value="<%= img %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitPrix">Prix</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="addProduitPrix" value="<%= price %>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="addProduitType">Type</label>
    <div class="controls">
      <select id="addProduitType">
        <option value="0">Entrée</option>
        <option value="1">Plat</option>
        <option value="2">Dessert</option>
        <option value="3">Boisson</option>
      </select>
    </div>
  </div>
  <div class="form-actions">
    <button type="button" class="btn btn-primary" id="addProduitSubmit">Save changes</button>
    <a class="btn"  id="cancelProduit" href="/getDishes">Cancel</a>
  </div>
</fieldset>
</form>