<button class="pull-right btn btn-large btn-success">Ajouter un texte</button>
<h3>Gestion des textes</h3>
<div class="clear"></div>
<p><br></p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Photo</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Poulet Roti</td>
        <td>Blablab alb akfeozkfoezkfoekzfoekz ofkezof kezofeozkf oezk foezkfozkf zofkezo fz</td>
        <td>aucune</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Poulet Roti</td>
        <td>Blablab alb akfeozkfoezkfoekzfoekz ofkezof kezofeozkf oezk foezkfozkf zofkezo fz</td>
        <td>aucune</td>
        <td>$50</td>
      </tr>
    </tbody>
  </table>