<div class="row">
	<div class="span12">
		<h2>Bienvenue sur l'interface d'administration YouFood.</h2>
	</div>
</div>
<br><br>
<div class="row">
	<div class="span3">
		<div class="well">
			<ul class="nav nav-list" id="navGestion">
	          <li class="nav-header">Gestion de la carte</li>
	          <li class="active"><a href="#" id="gestionProduits"><i class="icon-white icon-home"></i> Produits</a></li>
	          <li><a href="#" id="gestionTextes"><i class="icon-book"></i> Textes</a></li>
	          <li><a href="#" id="gestionCartes"><i class="icon-pencil"></i> Cartes de menus</a></li>
	          <li class="divider"></li>
	          <li><a href="#"><i class="icon-flag"></i> Se déconnecter</a></li>
	        </ul>
		</div>
	</div>
	<div class="span9 gestionContainer">
		
	</div>
</div>
