<div class="row">
	<div class="span3">
		<div class="well">
			<ul class="nav nav-list" id="navGestion">
	          <li class="nav-header">Gestion de la carte</li>
	          <li class="active"><a href="#" id="gestionProduits"><i class="icon-th"></i> Produits</a></li>
	          <li><a href="" id="gestionMenu"><i class="icon-th-large"></i> Menus</a></li>
	          <li><a href="" id="gestionCompositionL"><i class="icon-th-list"></i> Composition menus</a></li>
	          <li class="divider"></li>
	          <li class="nav-header">Gestion du restaurant</li>
	          <li class=""><a href="#" id="gestionTextes"><i class="icon-pencil"></i> Paramètres globaux</a></li>
	          <li class="divider"></li>
	          <li><a href="#" id="seDeconnecter"><i class="icon-off"></i> Se déconnecter</a></li>
	        </ul>
		</div>
	</div>
	<div class="span9 gestionContainer">
		
	</div>
</div>
