<div class="row">
	<div class="span4">
		<div class="well">
			<ul class="nav nav-list" id="navCommandes">
	          <li class="nav-header">Commandes</li>
	          <li id="commandesEnCoursli" class="active"><a href="/admin/commandes" id=""><i class="icon-user"></i> Commandes en cours</a></li>
	          <li id="commandesPreparationsli"><a href="/admin/commandes/preparation" id="commandesPreparations"><i class="icon-road"></i> Commandes en préparation</a></li>
	          <li id="commandesValideesli"><a href="/admin/commandes/validees" id="commandesValidees"><i class="icon-ok"></i> Commandes prêtes</a></li>
	          <li id="commandesLivreesli"><a href="/admin/commandes/livrees" id="commandesLivrees"><i class="icon-ok-sign"></i> Commandes livrées</a></li>
	          <li class="divider"></li>
	          <li id="commandesToutesli"><a href="/admin/commandes/toutes" id="commandesToutes"><i class="icon-align-justify"></i>Toutes les commandes</a></li>
	        </ul>
		</div>
	</div>
	<div class="span8 commandesContainer">
		
	</div>
</div>
