<div class="row">
	<div class="span12">
		<div class="subnav" id="subnavStats">
		    <ul class="nav nav-pills">
		      <li class="active" id="statsProduits"><a href="admin/statistiques/">Produits</a></li>
		      <li id="statsCommandes"><a href="admin/statistiques/commandes">Commandes</a></li>
		      <li id="statsServeurs"><a href="admin/statistiques/serveurs">Serveurs</a></li>
		      <li id="statsTables"><a href="admin/statistiques/tables">Tables</a></li>
		    </ul>
		  </div>
		<div class="statsContainer">
		</div>
	</div>
</div>
